body{
  background-color: #f7f9fc;
}

.white-box{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #eee;
}

.font-color{
  color:  #6fbaf8;
}

.btn{
  padding: 5px 20px;
  background-color: #6fbaf8;
  color: #fff;
}

.pill{
  font-size: 12px;
  border: 1px solid rgba(204, 202, 202, 0.527);
  padding: 7px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 7px;
}

.friend{
  width: 55px;
  height: 55px;
}

.friend-info{
  font-size: 12px;
}